*,*::before,*::after{
    box-sizing: border-box;
}
.layout-right{
    margin-left: auto;
}
.w50{
    width: 50%;
}
.mt8{
    margin-top: 8px;
}
.mt12{
    margin-top: 12px;
}
.mt16{
    margin-top: 16px;
}
.mt40{
    margin-top: 40px;
}
body{
    font-family: 'Castoro', serif;
    line-height: 1.5;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}
h1{
    font-size: 128px;
    font-family: 'Castoro Titling', cursive;
}
h2{
    font-size: 128px;
    font-family: 'Castoro Titling', cursive;
}
img{
    display: block;
    margin: auto;
}
header.container{
    margin-top: 160px;
}
main{
    padding: 48px 0;
    position: relative;
}
.bg-gray{
    background: #EFEFEF;
}
p{
    font-size: 32px;
}
.info{
    font-size: 24px;
    padding-top: 80px;
    margin-bottom: 160px;
}
.info span{
    display: block;
    font-size: 20px;
    color: #949494;
    font-style: italic;
}
.info a{
    text-decoration: none;
    color: inherit;
}
.info a:hover{
    font-weight: 600;
}
h3{
    color:#AE0000 ;
    font-size: 40px;
    border-bottom: 2px solid #AE0000;
}
footer{
    background: #000;
    padding: 64px 0;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    margin: 0 20px;
}